<div *ngIf="!pais; else divPais" class="spinner-grow text-info" role="status">
    <span class="sr-only">Loading...</span>
</div>

<ng-template #divPais>
    <div class="container-fluid">
        <div class="row justify-conten-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="animate__animated animate__backInUp">Bandera</h3>
                        <div class="card animate__animated animate__backInUp" style="width: 18rem;">
                            <img [src]="pais.flag" class="card-img-top">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3>Información</h3>
                        <h3><b>País:</b> {{ pais.name }} </h3>
                        <h5><b>Region:</b> {{ pais.region }}</h5>
                        <h5><b>Subregión:</b> {{ pais.subregion }}</h5>
                        <!-- <h5><b>Lenguaje:</b> {{ pais.languages[3] }}</h5> -->
                        <h5><b>Subregión:</b> {{ pais.population | number }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="mt-4 ml-3">Traducciones</h3>
        <div class="row">
            <div class="col">
                <span class="badge badge-primary m-1">{{ pais.translations.de}}</span>
                <span class="badge badge-primary m-1">{{ pais.translations.es}}</span>
                <span class="badge badge-primary m-1">{{ pais.translations.fr}}</span>
                <span class="badge badge-primary m-1">{{ pais.translations.fa}}</span>
                <span class="badge badge-primary m-1">{{ pais.translations.hr}}</span>
                <span class="badge badge-primary m-1">{{ pais.translations.ja}}</span>
            </div>

        </div>

       <!-- <pre class="mt-4">
           {{ pais | json }}
           

       </pre>ñ -->
    </div>
</ng-template>
