<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2 class="text-center mb-4">Buscar por capital</h2>
            <div class="row">
                <div class="col-md-12">
                    <app-pais-input 
                    (onEnter)="buscar($event)"
                    placeholder="Buscar por capital">
                    
                    </app-pais-input>
                    <hr>
                </div>
                <div *ngIf="hayError" class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        No se encontró nada con {{termino}}
                    </div>
                </div>
                <div *ngIf="paises.length > 0" class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-info">
                            <p class="text-white">Lista de Países</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive-md">
                                <app-pais-tabla [paises]="paises"></app-pais-tabla>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>