<table class="table table-bordered table-hover">
    <thead>
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Bandera</th>
            <th scope="col">Capital</th>
            <th scope="col">Poblacion</th>
            <th scope="col">Administrador</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises;" class="text-center">
            <th>{{ pais.callingCodes }}</th>
            <td><img class="img-fluid" [src]="pais.flag" width="50"></td>
            <td>{{pais.region }},{{ pais.capital }}, {{ pais.name }}</td>
            <td>{{ pais.population | number }}</td>
            <td>
                <a [routerLink]="['/ver-pais', pais.alpha2Code]" routerLinkActive="router-link-active"  class="btn btn-sm btn-success"><i class="far fa-eye"></i>
                    Ver país</a>
            </td>
        </tr>
    </tbody>
</table>