<h1>Buscar por región {{ regionActiva | titlecase}}</h1>
<hr>
<h3>Seleccione la region</h3>
<div class="row">
    <div class="col">
        <!-- Contribuciones -->
        <!-- [class.btn-primary]= "region === regionActiva" -->
        <!--  -->
        <button *ngFor="let region of regiones" class="btn btn-outline-primary ml-2" [ngClass]="{
                    'btn-primary': regionActiva === region,
                    'btn-outline-primary': regionActiva !== region
                    
                }" (click)="activarRegion(region)">
            {{ region |titlecase }}
        
        </button>
    </div>

    <div *ngIf="paises.length > 0" class="col-md-12 mt-4">
        <div class="card animate__animated animate__fadeIn">
            <div class="card-header bg-info">
                <p class="text-white">Lista de Países {{ regionActiva |titlecase}} </p>
            </div>
            <div class="card-body">
                <div class="table-responsive-md">
                    <app-pais-tabla [paises]="paises"></app-pais-tabla>
                </div>
            </div>
        </div>
    </div>
</div>