<h4 class="text-center text-primary">App-Countries</h4>
<div class="list-group">
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item list-group-item-action">
    <i class="fas fa-globe-americas"></i> Buscar País</a>

  <a routerLink="/por-capital" routerLinkActive="active" class="list-group-item list-group-item-action">
    <i class="far fa-flag"></i> Por capital </a>

  <a routerLink="/por-region" routerLinkActive="active" class="list-group-item list-group-item-action">
    <i class="fas fa-globe"></i> Por región</a>

</div>